<h1>Record a Game</h1>

<div class="game_form">
    <div class="players">
        <div id="yellow_team" class="team">
            <div class="team_color yellow">Yellow Team</div>
            <div id="yellow_offensive" class="player">
                <%= collection_select(:game, :yellow_offensive, @players, :id, :name, :include_blank => true) %>
            </div>
            <div id="yellow_defensive" class="player">
                <%= collection_select(:game, :yellow_defensive, @players, :id, :name, :include_blank => true) %>
            </div>
        </div>
        <%= image_tag "table.png", class: "table_diagram" %>
        <div id="black_team" class="team">
            <div id="black_defensive" class="player">
                <%= collection_select(:game, :black_defensive, @players, :id, :name, :include_blank => true) %>
            </div>
            <div id="black_offensive" class="player">
                <%= collection_select(:game, :black_offensive, @players, :id, :name, :include_blank => true) %>
            </div>
            <div class="team_color black">Black Team</div>
        </div>
    </div>
    <div class="scores">
        <table>
            <thead>
                <tr>
                    <th class="final_score_label">Final Score</th>
                    <th>Round 1</th>
                    <th>Round 2</th>
                    <th>Round 3</th>
                    <th>Round 4</th>
                </tr>
            </thead>
            <tbody>
                <tr id="yellow_scores">
                    <td><%= number_field_tag('game[yellow_score_final]', 0, in: 0..20, class: 'final_score') %></td>
                    <td><%= number_field_tag('game[yellow_score_round_1]', 0, in: 0..5, class: 'round_score') %></td>
                    <td><%= number_field_tag('game[yellow_score_round_2]', 0, in: 0..5, class: 'round_score') %></td>
                    <td><%= number_field_tag('game[yellow_score_round_3]', 0, in: 0..5, class: 'round_score') %></td>
                    <td><%= number_field_tag('game[yellow_score_round_4]', 0, in: 0..5, class: 'round_score') %></td>
                </tr>
                <tr id="black_scores">
                    <td><%= number_field_tag('game[black_score_final]', 0, in: 0..20, class: 'final_score') %></td>
                    <td><%= number_field_tag('game[black_score_round_1]', 0, in: 0..5, class: 'round_score') %></td>
                    <td><%= number_field_tag('game[black_score_round_2]', 0, in: 0..5, class: 'round_score') %></td>
                    <td><%= number_field_tag('game[black_score_round_3]', 0, in: 0..5, class: 'round_score') %></td>
                    <td><%= number_field_tag('game[black_score_round_4]', 0, in: 0..5, class: 'round_score') %></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
